<!--
  Generated template for the Alphabet page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="light-pink">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{header}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content has-bouncing="false" padding>
  <!--Numbers Input-->
  <!--TODO: add input for number
  <ion-item *ngIf="page_type === 'numbers'">
    <ion-row>
      <ion-col width-80>
        <label class="item item-input">
          <span class="input-label">数字：</span>
          <input type="number" placeholder="input field" />
        </label>
      </ion-col>
      <ion-col width-20>
        <button ion-button round small icon-only>
          <ion-icon name="volume-up"></ion-icon>
        </button>
      </ion-col>
   </ion-row>
 </ion-item>
 -->

  <ion-grid>
    <ion-row *ngFor="let row of rows">
      <ion-col width-25 center *ngFor="let data of row">
          <button ion-button round (click)="showPronounce(data)" color="light-pink">
            {{data.name}}
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
